!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Niksen
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
  %body
    .navbar.navbar-light.bg-light
      .container-fluid
        .navbar-brand.h1
          %i.fas.fa-book
          = link_to 'niksen', users_posts_path, class: 'text-dark text-decoration-none'
        .nav
          .nav-item.me-3
            = link_to 'わたしのニクセン体験記', users_posts_path
          .nav-item
            = link_to 'ログアウト', destroy_user_session_path, method: :delete
    .container.mt-4
      - if notice.present? 
        .alert-success.text-center
          .far.fa-check-circle
          = notice
      - if alert.present?
        .alert-danger.text-center
          .far.fa-times-circle
          = alert
      = yield
